<h1>Welcome to CSE Motors</h1>
<div class="hero">
    <picture>
        <img src="images/vehicles/delorean.jpg" loading="lazy" alt="Delorean image">
    </picture>
    <div class="overlay-div">
        <h2>DMC Delorean</h2>
        <p>3 Cup holders</p>
        <p>Superman doors</p>
        <p>Fuzzy Dice</p>
        <button type="button">Own Today</button>
    </div>
</div>
<div class="container">
    <div class="div1">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time."(4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it! (5/5)"</li>
        </ul>
    </div>
    <div class="div2">
        <h2>Delorean Upgrades</h2>
        <div class="upgrades">
            <div>
                <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor image">
                <span>Flux Capacitor</span>
            </div>
            <div>
                <img src="/images/upgrades/flame.jpg" alt="Flame Decals image">
                <span>Flame Decals</span>
            </div>
            <div>
                <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers image">
                <span>Bumper Stickers</span>
            </div>
            <div>
                <img src="/images/upgrades/hub-cap.jpg" alt="Hub-Caps image">
                <span>Hub-Caps</span>
            </div>
        </div>

    </div>
</div>