@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/******* BODY ***************/
body {
  background-image: url("/images/site/checkerboard.jpg");;
}

.master-container {
  max-width: 900px;
  margin: 0 auto;
  background-color: white;
}

/******* FONT ***************/
* {
  font-family: 'Roboto', sans-serif;
  font-size: clamp(.9rem, 1vw, 1rem)
}

h1 {
  font-size: clamp(1.5rem, 3.5vw, 3.5rem);
  /* border: 1px solid blue; */
}

h2 {
  font-size: clamp(1rem, 2vw, 2rem);
}

/************** HEADER ***************/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
}

header a {
  display: block;
  color: #3D405B;
  text-decoration: none;
 }

.siteName a {
  font-size: 2rem;
  font-weight: bold;
}

header div {
  text-transform: uppercase;
 }

/************** NAVIGATION ***************/
.navigation {
  display: block;
  background-color: #3D405B;
}

.navigation ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation li.current {
  background-color: #333;
  color: white;
}

.navigation a {
  display: block;
  padding: .8rem 10px;
  color: white;
  text-decoration: none;
}

.navigation a:hover {
  background-color: #333;
  color: white;
}

/************** MAIN ***************/
.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  /* border: 1px solid red; */

  width: 90%;
  max-width: 600px;
  margin: 20px auto;
  /* min-height: 200px; */
}

.hero img {
  max-width: 100%;
  height: auto;
}

.hero div {
  position: absolute;
  top: 10%;
  left: 20%;
  width: 40%;
  height: auto;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  z-index: 10;

  transform: translate(-50%, -20%);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.div1,
.div2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: 1px solid lightblue;
}

.upgrades {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.upgrades div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 8rem;
  background-color: lightsteelblue;
  border: 5px solid white;

  min-width: 150px;
}

.upgrades div img {
  /* max-width: 100%; */
  width: 65px;
  height: auto;
  text-align: center;
}

.upgrades span {
  margin-top: 1rem;
  font-size: 0.9em;
  color: #333;
  text-align: center;
}

.classification {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  list-style-type: none;
  padding: 1rem;
}

.classification li {
  border: 1px solid #ccc;
  padding: 1rem;
  /* box-sizing: border-box; */
  text-align: center;
}

.classification a {
  display: block;
  color: #3D405B;
  text-decoration: none;
}

.classification a:hover {
  background-color: #3D405B;
  color: white;
}

.vehicle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  gap: 1rem;
}

.vehicle-photo {
  width: 100%;
}

.vehicle-photo img {
  max-width: 100%;
  height: auto;
}

.details div:nth-child(even) {
  background-color: white;
}

.details div:nth-child(odd) {
  background-color: #eee;
}

.pair-values {
  padding: 1rem;
}

.field,
.price {
  font-weight: bold;
}

/* footer {
  border: 1px solid #ccc;
} */

footer a {
  display: block;
  background-color: #3D405B;
  color: white;
  padding: 1rem;
}

/************** LARGER SCREEN ***************/
@media (min-width: 768px) {
  .container {
    flex-direction: row;
    flex-direction: row-reverse;
    /* Div 2 will be on the left on large screens */
  }

  .classification {
    grid-template-columns: repeat(3, 1fr);
  }

  .vehicle {
    flex-direction: row;
  }
}